*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

:root{
    --main-color: #e6993d;
    --black: #13131a;
    --bg-color: #010103;
    --border: .1rem solid rgba(255,255,255,.3);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: white;
    border-radius: 5rem;
}

body{
    background: var(--bg-color);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    background: var(--bg-color);
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

header .logo img{
    height: 6rem;
}

nav a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: white;
}

nav a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

header .icons div{
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
    color: white;
}

header .icons div:hover{
    color: var(--main-color);
}

header .fa-bars{
    display: none;
}

header .search-form{
    position: absolute;
    top: 115%;
    right: 7%;
    background: white;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

header .search-form.active{
    transform: scaleY(1);
    outline: 1px solid var(--bg-color);
}

header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}

header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}

header .search-form label:hover{
    color: var(--main-color);
}

header .delivery-items-container{
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: white;
    padding: 0 1.5rem;
}

header .delivery-items-container.active{
    right: 0%;
}

header .delivery-items-container .delivery-item{
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

header .delivery-items-container .delivery-item span{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

header .delivery-items-container .delivery-item span:hover{
    color: var(--main-color);
}

header .delivery-items-container .delivery-item img{
    height: 7rem;
    border-radius: 5px;
}

header .delivery-items-container .delivery-item .content p{
    font-size: 2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

header .delivery-items-container .delivery-item .content .price{
    font-size: 1.5rem;
    color: var(--main-color);
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: white;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover{
     letter-spacing: .2rem;
}

header .delivery-items-container .btn{
    width: 100%;
    text-align: center;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    /*background: url(images/banner.jpg) no-repeat;*/
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 70%, 
        rgb(0, 0, 0) 100%), url(images/banner.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 60rem;
}

.home .content h1{
    font-size: 6rem;
    text-transform: uppercase;
    color: white;
}

.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    color: #eee;
    line-height: 1.8;
    padding: 1rem 0;
}

section{
    padding: 5rem 7%;
}

.heading{
    text-align: center;
    color: white;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color: var(--main-color);
    text-transform: uppercase;
}

.about{
    padding: 2rem 5.5%;
}

.about .row{
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
    border-radius: 7px;
}

.about .row .image{
    flex: 1 1 45rem;
}

.about .row .image img{
    width: 100%;
}

.about .row .content{
    flex: 1 1 45rem;
    padding: 2rem;
}

.about .row .content h3{
    font-size: 3rem;
    color: white;
}

.about .row .content p{
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
}



.menu .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 1.5rem;
}

.menu .box {
    flex: 1 1 calc(33.333% - 1.5rem); 
    padding: 5rem;
    text-align: center;
    border: var(--border);
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.menu .box img {
    height: 20.5rem;
    margin-bottom: 1rem; 
    border-radius: 5px;
}

.menu .box-container .box h3{
    color: white;
    font-size: 2rem;
    padding: 1rem 0;
}

.menu .box-container .box .price{
    color: white;
    font-size: 2.5rem;
    padding: .5rem 0;
}

.menu .box-container .box .price span, .products .box-container .box .content .price span{
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}

.menu .box-container .box:hover{
    background: white;
}

.menu .box-container .box:hover > *{
    color: var(--black);
}



.products .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 1.5rem;
}

.products .box-container .box {
    flex: 1 1 calc(33.333% - 1.5rem); 
    padding: 5rem;
    text-align: center;
    border: var(--border);
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.products .box-container .box .image img {
    height: 20.5rem;
    margin: 4rem 0 4rem 0; 
    border-radius: 5px;
}

.products .box-container .box .icons a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border: var(--border);
    color: white;
    margin: .3rem;
}

.products .box-container .box .icons a:hover{
    background: var(--main-color);
}

.products .box-container .box .content h3{
    color: white;
    font-size: 2.5rem;
}

.products .box-container .box .content .stars{
    padding: 1.5rem;
}

.products .box-container .box .content .stars i{
    font-size: 1.7rem;
    color: var(--main-color);
}

.products .box-container .box .content .price{
    color: white;
    font-size: 2.5rem;
}



.review .box-container{
    display: flex;
    gap: 1.5rem;
}

.review .box-container .box{
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
}

.review .box-container .box .quote{
    width: 60px;
}

.review .box-container .box p{
    font-size: 1.6rem;
    line-height: 1.8;
    color: #ccc;
    padding: 2rem 0;
}

.review .box-container .box .customer{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box-container .box h3{
    padding: 1rem 0;
    font-size: 2rem;
    color: white;
}

.review .box-container .box .stars i{
    font-size: 1.5rem;
    color: var(--main-color);
}



.contact .row{
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
    gap: 1rem;
}

.contact .row .map{
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form h3{
    font-size: 3.5rem;
    color: white;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin: 2rem 0 2rem 0;
    background: var(--black);
    border: var(--border);
}

.contact .row form .inputBox span{
    color: white;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: white;
    text-transform: none;
    background: none;
}



.blogs .box-container{
    display: flex;
    gap: 1.5rem;
}

.blogs .box-container .box{
    border: var(--border);
}

.blogs .box-container .box .image{
    height: 25rem;
    overflow: hidden;
    width: 100%;
}

.blogs .box-container .box .image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.blogs .box-container .box:hover .image img{
    transform: scale(1.1);
}

.blogs .box-container .box .content{
    padding: 2rem;
}

.blogs .box-container .box .content .title{
    font-size: 2.5rem;
    line-height: 1.5;
    color: white;
}

.blogs .box-container .box .content .title:hover{
    color: var(--main-color);
}

.blogs .box-container .box .content span{
    color: var(--main-color);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.blogs .box-container .box .content p{
    font-size: 1.6rem;
    line-height: 1.8;
    color: #ccc;
    padding: 1rem 0;
}



footer{
    background: var(--black);
    text-align: center;
}

footer .share{
    padding: 1rem 0;
}

footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: white;
    border: var(--border);
    margin: .3rem;
    border-radius: 50%;
}

footer .share a:hover{
    background: var(--main-color);
}

footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
} 

footer .links a{
    padding: .7rem 2rem;
    color: white;
    border: var(--border);
    font-size: 2rem;
}

footer .links a:hover{
    background: var(--main-color);
}

footer .credit{
    font-size: 2rem;
    color: white;
    font-weight: lighter;
    padding: 1.5rem;
}

footer .credit span{
    color: var(--main-color);
}



@media (max-width:991px){
    html{
        font-size: 55%;
    }

    header{
        padding: 1.5rem 2rem;
    }

    section{
        padding: 2rem;
    }

}

@media (max-width:800px){

    header .fa-bars{
        display: inline-block;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        background: white;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    header .navbar a{
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
        color: var(--black);
    }

    header .navbar.active{
        right: 0%;
    }

    header .search-form{
        width: 90%;
        right: 2rem;
    }

    .home{
        justify-content: center;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 70%, 
        rgb(0, 0, 0) 100%), url(images/bannerTablet.jpg) no-repeat;
        background-size: cover;
        background-position: center;
    }

    .home .content h1{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

    .review .box-container, .blogs .box-container{
        display: block;
    }

    .review .box-container .box, .blogs .box-container .box{
        margin-bottom: 1.5rem;
    }

}

@media (max-width:480px){
    
    .home{
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 70%, 
        rgb(0, 0, 0) 100%), url(images/bannerMobile.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        text-align: center;
    }
    
    html{
        font-size: 50%;
    }
}